language: node_js
sudo: false
node_js:
  - 6

cache:
  directories:
    - node_modules

script:
  - yarn global add typings
  - typings install
  - yarn run build

deploy:
  provider: npm
  email: olegman.ru@gmail.com
  api_key: $NPM_API_KEY
  on:
    tags: true
    repo: router-async/react-router-async